apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    access: proxy
    orgId: 1
    url: postgres:5432
    password: 123456
    user: postgres
    database: unilever_warehouse
    secureJsonData:
      password: 123456
    isDefault: true
    jsonData:
      sslmode: disable
      maxOpenConns: 100
      maxIdleConns: 100
      connMaxLifetime: 600
      postgresVersion: 1400
    version: 1
    editable: true

  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    isDefault: false
    jsonData:
      timeInterval: 15s
    version: 1
    editable: true
